body {
    background-image: url('bg.jpg');
    font-family: Roboto, arial;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #eeeeee;
}

li {
    list-style-type: none;
}

table {
    margin: 10px auto;
}

.link {
    color: #cccccc;
    cursor: pointer;
}

.link:hover {
    color: #eeeeee;
}

.info {
    position: absolute;
    display: none;
    background-color: #000000;
    border: 1px solid;
    border-color: #555555;
    border-radius: 6px;
    padding: 3px;
}

.button {
    display: block;
    margin: 6 auto;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    padding: 3px;
    color: #eeeeee;
    text-align: center;
    max-width: 150px;
    cursor: pointer;
}

.blue {
    background-color: #2079DF;
    width: 50%;
}

.blue:hover {
    background-color: #4099FF;
}

.cancel {
    background-color: #B90505;
    width: 40%;
}

.cancel:hover {
    background-color: #D92525;
}

#header {
    height: 60px;
    margin: 20px;
}

    #name {
        font-size: 40px;
        float: left;
    }

    #personal {
        font-size: 24px;
        font-weight: 600;
        text-align: right;
        padding-top: 5px;
    }

#content {
    margin: 20px;
}

#content > table {
    width: 100%;
    min-height: 80%;
}

#rooms_td, #main_td {
    vertical-align: top;
    padding: 6px;
    background-color: rgba(0,0,0,0.3);
}

#rooms_td {
    width: 25%;
}

#rooms {
    text-align: center;
}

    #roomheader {
        color: #ffffff;
        background-color: #AE113E;
        font-size: 1.4em;
        padding: 4px 4px 6px 6px;
        font-weight: 400;
    }

    #roomlist {
        list-style-type: none;
        padding: 15px;
        margin: 0;
    }

    #roomlist li {
        font-size: 20px;
        position: relative;
        border: 1px solid;
        border-color: #555555;
        border-radius: 3px;
        padding: 3px;
    }

#createroompopup, #changenamepopup {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    opacity: 0.9;
    text-align: center;
    padding: 20px;
}

#main_td {
    width: 60%;
}

#main {
    display: none;
    text-align: center;
}

    #mainheader {
        color: #ffffff;
        background-color: #39DB4F;
        font-size: 1.4em;
        padding: 4px 4px 6px 6px;
        font-weight: 400;
    }

    #gamenotification {
        color: #EB9744;
    }

    #gameerror {
        color: #D92525;
    }

    #gameregion {
        width: 100%;
        margin: 20px auto;
    }

#roleselect > div {
    width: 80%;
    border-spacing: 8px;
    margin: 0 auto;
}

#roleselect > div > span {
    width: 15%;
    padding: 16px;
    margin: 6px;
    position: relative;
    display: inline-block;
}

#playercircle > div {
    width: 90%;
    border-spacing: 8px;
    margin: 0 auto;
}

#playercircle > div > span {
    width: 10%;
    padding: 16px;
    margin: 6px;
    position: relative;
    display: inline-block;
}

#gameregion .rolechosen {
    border: 2px yellow solid;
    border-radius: 5px;
}

#gameregion .freq {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 22px;
    margin: 3px;
}

#gameregion img {
    width: 100%;
}
